<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Search</title>
</head>
<body>
  <h2>Stock Search</h2>
  <table border="1px solid">
    <tr>
      <th>st_id</th>
      <th>st_day</th>
      <th>st_start</th>
      <th>st_high</th>
      <th>st_low</th>
      <th>st_close</th>
      <th>st_before</th>
      <th>st_trade</th>
      <th>st_money</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</body>
</html>